
.idea
Machine Learning Foundations Coursera/A Case Study Approach Week 1/.ipynb_checkpoints/Predicting house prices-checkpoint.ipynb
Machine Learning Foundations Coursera/A Case Study Approach Week 3/.ipynb_checkpoints/Analyzing product sentiment-checkpoint.ipynb
